# distclean
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
doc/Makefile.in
doc/man/Makefile.in
doc/www/Makefile.in
hidparser/Makefile.in
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
py-compile
src/.deps/
src/Makefile.in
swig/Makefile.in
test/Makefile.in
Makefile
config.h
config.log
config.status
doc/Makefile
doc/doxygen.rc
doc/man/Makefile
doc/www/Makefile
hidparser/.deps/
hidparser/Makefile
libtool
pkgconfig/libhid.pc
rpm/libhid.spec
src/Makefile
stamp-h1
swig/.deps/
swig/Makefile
test/.deps/
test/Makefile
hidparser/.libs/
hidparser/hidparser.lo
hidparser/hidparser.o
hidparser/libhidparser.la
src/.libs/
src/hid_initialisation.lo
src/hid_initialisation.o
src/hid_preparation.lo
src/hid_preparation.o
src/libhid-detach-device.o
src/linux.lo
src/linux.o
doc/man/libhid-detach-device.1
src/debug.lo
src/debug.o
src/hid_exchange.lo
src/hid_exchange.o
src/hid_opening.lo
src/hid_opening.o
src/hid_parsing.lo
src/hid_parsing.o
src/hid_presentation.lo
src/hid_presentation.o
src/libhid-detach-device
src/libhid.la
test/.libs/
test/lshid
test/lshid.o
test/test_libhid
test/test_libhid.o
